body{
  background-color: #6f84e9;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.peakchat {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #4646b3;
  text-align: center;
  margin-top: 20px;
  animation: fade-in 5s ease-in-out;
  text-shadow: #9a9c2b;
}
.card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0a300e;
  }
  
  #loginButton {
    background-color: #6f84e9;
    width: 100%;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #loginButton:hover {
    background-color: #02074a;
  }
  /* #loginButton:hover {
    background-color: #535cdd;
  } */
