/* Add this CSS to your existing styles or style.css file */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Add this CSS to your existing styles or style.css file */

:root {
	--dark-color-a: rgb(77, 93, 201);
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: space-between;
}

body {
	max-height: 100vh;
	padding: 0%;
	font-family: 'Roboto', sans-serif;
}

.sidebar {
	width: 20%; /* Adjust this width as needed */
	border: 1px solid #0a0808;
	border-radius: 5px;
	margin-top: 10px; /* Lift the sidebar above the chat section */
	min-height: 90vh;
	overflow-y: auto;
	text-align: center;
	background-color: var(--light-color);
}
.sidebarbanner{
	display: flex;

}
.sidebar h2 {
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #f5d8d8;
	z-index: 5;
	background-color: var(--dark-color-a);

}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.form-container {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.group-list {
	height: calc(100vh - 230px); /* Set a fixed height, subtracting header and footer heights */
	overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
	text-align: center;
	border: 1px solid #f5d8d8;
	border-radius: 5px;
}

#group-list {
	list-style: none;
	padding: 0;
}

#group-list li {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px 0;
	cursor: pointer;
	transition: background-color 0.2s, border-color 0.2s;
}

#group-list li:hover {
	background-color: var(--dark-color-b); /* Adjust to your desired hover background color */
	border-color: #000000; /* Adjust to your desired hover border color */
}

.group-list::-webkit-scrollbar {
	width: 10px; /* Set the width of the scrollbar */
}

.group-list::-webkit-scrollbar-thumb {
	background-color: #042997; /* Color of the scrollbar thumb */
	border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}

.group-list::-webkit-scrollbar-track {
	background-color: #759ff5; /* Color of the scrollbar track */
	border-radius: 5px; /* Rounded corners for the scrollbar track */
}

.group-list {
	scrollbar-width: thin;
	scrollbar-color: #4caf50 #ccc; /* Color of the scrollbar thumb and track on Firefox */
}

.sidebarbanner {
	background-color: var(--dark-color-a);
	padding: 8px 15px;
	z-index: 10;
	box-shadow: #1e0243;
	align-items: center;
}

#create-group-button,
#ai-analyzer-button {
	background-color: var(--dark-color-b);
	color: white;
	border: black;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
}

#create-group-button:hover {
	background-color: #2506a2;
}

#ai-analyzer-button:hover {
	background-color: #5e2fb5;
}

.chatbanner {
	background-color: var(--dark-color-a);
	padding: 8px 15px;
	z-index: 10;
	box-shadow: #1e0243;
}

.chatbanner h2 {
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #f5d8d8;
	z-index: 5;
	background-color: var(--dark-color-b);
	display: flex;
	justify-content: space-between;
	margin-top: 0px;
	color: color-mix(in hsl longer hue, blue .4, --light-color .6);
}

.chat {
	background-color: var(--light-color);
	flex-grow: 1;
	height: calc(100vh - 200px);
	overflow-y: auto;
	text-align: center;
	border: 1px solid #f5d8d8;
	border-radius: 5px;
	border-top: #000000;
	background-image: url('../img/chat_back.png');
}

.chat::-webkit-scrollbar {
	width: 10px;
}

.chat::-webkit-scrollbar-thumb {
	background-color: #042997;
	border-radius: 5px;
}

.chat::-webkit-scrollbar-track {
	background-color: #759ff5;
	border-radius: 5px;
}

.chat {
	scrollbar-width: thin;
	scrollbar-color: #4caf50 #ccc;
}

.message {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 2px;
}

.sender {
	margin-top: 10px;
	background-color: #a2ccf8;
	padding: 10px;
	border-radius: 10px 10px 10px 0;
	margin-left: auto;
	float: right;
	clear: both;
	justify-content: flex-start;
}

.receiver {
	margin-top: 20px;
	background-color: #d7ddf8;
	padding: 10px;
	border-radius: 0 10px 10px 10px;
	margin-right: auto;
	float: left;
	clear: both;
	justify-content: flex-end;
}

p {
	margin-left: 2px;
	font-size: 16px;
	line-height: 1.5;
	color: #050505;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: transparent;
}

.chat-section {
	width: 80%;
	border: 1px solid #0a0808;
	border-radius: 5px;
	margin-top: 10px;
	min-height: 90vh;
	overflow-y: auto;
	margin-left: 5px;
	min-height: fit-content;
	justify-content: center;
	text-align: center;
}

.send {
	display: flex;
	justify-content: center;
	z-index: 10;
	background-color: #000000;
}

.send form {
	display: flex;
	align-items: center;
	width: 80%;
}

.send input[type="text"] {
	padding: 8px;
	border: 1px solid #a8bbf4;
	width: 100%;
	border-radius: 4px;
}

.send button {
	background-color: #e373f2;
	color: white;
	border: none;
	border-radius: 4px;
	margin-left: 10px;
	transition: transform 0.2s;
}

.send button:hover {
	transform: scale(1.5);
}

.send button:active {
	transform: scale(0.9);
	transition: transform 0.1s;
}

/* invisible form */
.overlay button[type="submit"] {
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: flex;
	flex-direction: row;
	margin: 10px 10px;
}

button[type="submit"]:hover {
	background-color: #0056b3;
}
.overlay h2{
	margin-bottom: 10px;;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Style for the "Cancel" button */
#cancel-button {
	background-color: #f44336;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-left: 10px; /* Add some margin to separate from the "Create" button */
	display: flex;
}

#cancel-button:hover {
	background-color: #d32f2f;
}

.chatbanner a {
	justify-content: center;
}

/* Leave button */
.lbtn {
	cursor: pointer;
	padding: 2px 5px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: #000000;
	font-size: 17px;
	margin-bottom: 2px;
	max-width: fit-content;
}

/* footer */
.border {
	height: 60px;
	width: 100%;
	background-color: #5f63d9;
	border: 2px solid #161212;
	border-radius: 10px;
	font-style: var(--error-color);
	text-align: center;
}

/* Style for h5 element */
.border h5 {
	font-size: 20px;
	margin: 0;
	color: coral;
}

/* Style for h6 element */
.border h6 {
	font-size: 15px;
	margin: 0;
	color: coral;
}

/* Style for the smile icon (assuming it's inside a <i> element) */
.border i.fas.fa-smile {
	font-size: 15px;
	margin-right: 5px;
	color: rgb(241, 228, 249);
}

i.fas.fa-smile {
	color: rgb(241, 228, 249);
}
