@import "../../../style-config/mixins.scss",
    "../../../style-config/variable.scss";

$background-color: #6796e8;     // Light gray background
$text-color: #333333;           // Dark gray text color
$icon-color: #FFC107;            // Yellow icon color
$option-text-color: #210f0f;     // White option text color
    

.contact-info-box {
    background-color: $background-color;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    color: $text-color;
    @include small-screen {
        width: 355px;
        padding: 30px;
    }
    h4 {
        line-height: 24px;
        margin-bottom: 20px;
        @include small-screen {
            line-height: 34px;
        }
    }
    .contact-option {
        display: flex;
        align-items: center;
        margin-top: 15px;
        svg {
            color: $icon-color;
            font-size: 16px;
        }
        .text {
            color: $option-text-color;
            margin-left: 15px;
        }
    }
}
